<div class="container main-container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<% if notice %>
<div class="row">
<div class="alert alert-success btn-block text-center">
  <%= notice %>
</div>
</div>
<% end %>
<h1 class="text-center">Your wallet</h1>
<div class="container" >
    <% @credit_cards.each do |credit_card| %>
    <div class="row text-right" style="padding-top: 6%;padding-bottom: 6%">
    <div class="col-sm-6">

      <%= link_to '<i class="fa fa-times"></i>'.html_safe, credit_card, method: :delete, data: { confirm: 'Are you sure you want to delete this card from your wallet?' } %>


      <hr>
      <div class="row" style="font-size: 25px">
      <div class="col-sm-9 text-left">
      <i class="fa fa-credit-card "></i> ************<%= credit_card.number.last(5) %> 
      </div>
      <div class="col-sm-3 text-right text-muted"><%= credit_card.expiration_date.strftime("%m/%Y")  %> </div>
      </div>
      </div>
    </div>
    <% end %>
</div>
<br>
<br>
<br>
<div class="row text-center">
<div class="col-sm-12">
<%= link_to 'ADD NEW CARD', new_credit_card_path, {class: 'button btn-block '} %>
</div>
</div>
</div>
</div>
</div>