
<div class="container main-container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h1 class="text-center">New Credit Card</h1>
<br>
<div class="row">
<%= form_for(@credit_card) do |f| %>
  <% if @credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% @credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number, {class: 'violet-input btn-block', required: true, data: {mask: '9999 9999 9999 9999'}} %>
  </div>
  <div class="form-group">
    <%= f.label :cvv %><br>
    <%= f.text_field :cvv, {class: 'violet-input btn-block', required: true, data: {mask: '999'}} %>
  </div>
  <div class="form-check">
    <%= f.label :expiration_date %><br>
    <%= f.date_select :expiration_date, {discard_day: true, class: 'violet-input btn-block'} %>
  </div>
  <hr>
  <div class="row">
  <button type="submit" class="button small btn-block">SUBMIT</button>
  <a href="/wallet" class="button small btn-block">RETURN</a>
  </div>
</form>
 
<% end %>
</div>
</div>
</div>
</div>
</div>
