/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jasny-bootstrap.min
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
body {
  font-family: 'Lato', sans-serif;
}
.main-container{
	margin-top: 20px;
	margin-bottom: 40px;
}
h1{
    font-family: 'Enriqueta', serif;
}
.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid grey;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  color:black;
  font-size:25px;
  &:hover {
    cursor: pointer;
    background: grey;
    color:white;
    text-decoration: none;
    border: 2px solid black;
  }
}
.small{
	font-size:15px;
}
a {
    color: black;
    text-decoration: none;
    &:hover {
    color:black;
    text-decoration: none;
  }
}
.violet-input{
	border-radius: 0px;
	font-size: x-large;
	background: white;
	color: grey;
}

select{
	border: black;
    border-radius: 0;
    font-weight: 400;
    color: inherit;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease,
                outline 0.2s ease;
    background: white;
}