<!DOCTYPE html>
<html>
<head>
  <title>WalletMejuriTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Enriqueta" rel="stylesheet"> 
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
